*{
	margin:0;
	padding:0;
}
.canvas{
	background: gray;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
}
.userBtn{
	position: fixed;
	top: 0px;
	left: 0px;
}
.userBtn > svg{
	height: 2em;
	width: 2em;
	fill: #000;
}
.userBtn > .eraser{
}
.userBtn > .brush{
	display: inline-block;
}

